[project]
	description = Access inherited by all other projects.
[receive]
	requireContributorAgreement = true
	requireSignedOffBy = true
	requireChangeId = true
	enableSignedPush = true
	requireSignedPush = false
[submit]
	mergeContent = true
[access "refs/*"]
	read = group Administrators
	read = block group Blocked Users
[access "refs/for/*"]
	addPatchSet = group Registered Users
	push = group Registered Users
	pushMerge = group Registered Users
[access "refs/heads/*"]
	create = group Administrators
	create = group Project Owners
	editTopicName = +force group Administrators
	editTopicName = +force group Project Owners
	forgeAuthor = group Registered Users
	forgeCommitter = group Administrators
	forgeCommitter = group Project Owners
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Project Owners
	label-Code-Review = -1..+1 group Registered Users
	read = group Anonymous Users
	revert = group Administrators
	revert = group Project Owners
	submit = group Administrators
	submit = group Project Owners
[access "refs/meta/config"]
	exclusiveGroupPermissions = read
	create = group Administrators
	create = group Project Owners
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Project Owners
	read = group Administrators
	read = group Project Owners
	submit = group Administrators
	submit = group Project Owners
	push = +force group Administrators
	forgeAuthor = group Administrators
	forgeCommitter = group Administrators
[access "refs/meta/version"]
	read = group Anonymous Users
[access "refs/tags/*"]
	create = group Administrators
	create = group Project Owners
	createSignedTag = group Administrators
	createSignedTag = group Project Owners
	createTag = group Administrators
	createTag = group Project Owners
[label "Code-Review"]
	function = MaxWithBlock
	defaultValue = 0
	value = -2 This shall not be submitted
	value = -1 I would prefer this is not submitted as is
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
	copyCondition = changekind:NO_CHANGE OR changekind:TRIVIAL_REBASE OR is:MIN
[capability]
	administrateServer = group Administrators
	priority = batch group Service Users
	streamEvents = group Service Users
[contributor-agreement "CCLA"]
	description = CCLA (Corporate Contributor License Agreement) for SUN
	agreementUrl = https://api.dev.lfcla.com/v2/gerrit/c64998ab-833d-4d55-8b83-04e7d3398c99/corporate/agreementUrl.html
	accepted = group sun-ccla
[contributor-agreement "ICLA"]
	description = ICLA (Individual Contributor License Agreement) for SUN
	agreementUrl = https://api.dev.lfcla.com/v2/gerrit/c64998ab-833d-4d55-8b83-04e7d3398c99/individual/agreementUrl.html
	accepted = group sun-icla
[submit-requirement "No-Unresolved-Comments"]
	description = Changes that have unresolved comments are not submittable.
	applicableIf = has:unresolved
	submittableIf = -has:unresolved
	canOverrideInChildProjects = false
